<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <div class="login-container">
        <div class="heading">
            <h3><%- title %></h3>
           </div>
        <form action="/login" method="POST">  
            <div class="container">   
                <label>Username : </label>   
                <input type="text" placeholder="Enter Username" name="email" required>  
                <label>Password : </label>   
                <input type="password" placeholder="Enter Password" name="password" required>  
                <button type="submit">Login</button>  
                <a href="/register">Signup Now</a>
            </div>   
        </form>
    </div>
    
    <%- include('../partials/footer.ejs') %>
