<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/manageuser.css">
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <div class="Admin-section">
      </div>
      <%- include('../partials/footer.ejs') %>
