<div class="contact-area" id="contact">
        <div class="row">
                <div class="contact-content text-center">

                    <div class="contact-social">
                        <ul>
                            <li><a class="hover-target" href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="hover-target" href=""><i class="fab fa-linkedin-in"></i></a></li>
  

                        </ul>
                    </div>
            </div>
        </div>
</div>
<!-- =============== 1.9 Contact Area End ====================-->
<!-- =============== 1.9 Footer Area Start ====================-->
<footer class="footer-footer">
    <p><span> Copyright &copy; 2023 .</span><span> All Rights Reserved.</span></p>
</footer
>
</body>
</html>