<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">TRENDBLOG</label>
    <ul>
      <li><a href="/">Home</a></li>
      <% if(isAuthenticated) { %>
      <li><a href="/addblog">Add blog</a></li>
      <li><a href="/myblogs">My blog</a></li>
      <% if(isAdmin) { %>
      <li><a href="/admin/manageuser">Manage User</a></li>
      <!-- <li><a href="/admin/userblogs">User Blogs</a></li> -->
      <% } %>
      <% } %>
      <% if(!isAuthenticated) { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Registration</a></li>
      <% } else { %>
        <li><a href="/logout">LogOut</a></li>
        <% } %>
  </ul>
  </nav>