<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/blog-container.css">
<link rel="stylesheet" href="/css/addblogform.css">

  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <div class="form-container">
        <%- include('../partials/addblogform.ejs') %>
    </div>
    
    <%- include('../partials/footer.ejs') %>
